.about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: hsl(220, 16%, 96%);
}

.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 100px 0;
    width: 80vw;
}

.about .title{
    font-size: 40px;
    margin-bottom: 30px;
}

.about .description{
    color: hsl(233, 8%, 62%);
    width: 650px;
    line-height: 28px;
    margin-bottom: 60px;
}

.about .infos{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.about .info{
    width: 295px;
}

.about img{
    margin-bottom: 30px;
}

.about .info-title{
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 20px;
    color: hsl(233, 26%, 24%);
}

.about .info-description{
    color: hsl(233, 8%, 62%);
    line-height: 26px;
}