.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    padding: 30px 0;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: hsl(0, 0%, 0%);
    margin: 8px;
    transition: 0.3s;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.nav-link {
    color: hsl(233, 8%, 62%);
    font-size: 16px;
    transition: 0.3s ease-in;
}

.nav-link a {
    position: relative;
    transition: 0.3s ease-in;
}

.nav-link a::after {
    content: '';
    position: absolute;
    height: 5px;
    left: 0;
    bottom: -46px;
    width: 0;
    background: rgb(49, 211, 92);
    background: linear-gradient(90deg, rgba(49, 211, 92, 1) 0%, rgba(43, 183, 218, 1) 100%);
    transition: width 0.2s;
}

.nav-link a:hover {
    color: hsl(233, 26%, 24%);
}

.nav-link a:hover::after {
    width: 100%;
}

@media(max-width:1500px) {
    .header {
        width: 90vw;
    }
}

@media(max-width:800px) {
    .header {
        width: 95vw;
    }

    .nav-list {
        gap: 20px;
    }

    .header .request {
        padding: 15px 20px;
    }
}

@media(max-width:500px) {
    .mobile-menu {
        display: block;
    }

    .nav-list {
        display: none;
    }

    .header .request {
        display: none;
    }
}