.articles-section{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    background-color: hsl(0, 0%, 98%);
}

.articles-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 100px 0;
    width: 80vw;
}

.articles-section .title{
    font-size: 30px;
    margin-bottom: 60px;
}

@media(max-width:1500px){
    .articles-content{
        width: 90vw;
    }
}

@media(max-width:1200px){
    .articles-content{
        width: 60vw;
    }

    .articles-section .articles{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        gap: 30px;
    }
}

@media(max-width:800px){
    .articles-content{
        width: 90vw;
    }
}

@media(max-width:500px){
    .articles-content{
        align-items: center;
    }

    .articles-section .articles{
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, auto);
        justify-content: center;
        gap: 20px;
    }
}