.articles-section{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    background-color: hsl(0, 0%, 98%);
}

.articles-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 100px 0;
    width: 80vw;
}

.articles-section .title{
    font-size: 30px;
    margin-bottom: 60px;
}

.articles-section .articles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.article{
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0 0 5px 1px hsl(0, 0%, 90%);
}

.article .info{
    padding: 30px 25px;
}

.articles-section img{
    width: 300px;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.article-author{
    font-size: 12px;
    margin-bottom: 10px;
    color: hsl(233, 8%, 62%);
}

.article-title{
    font-size: 19px;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    transition: 0.3s ease-in;
}

.article-title:hover{
    color: hsl(136, 65%, 51%);
}

.article-description{
    font-size: 15px;
    color: hsl(233, 8%, 62%);
    margin-top: 10px;
}