.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-color: hsl(233, 26%, 24%);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 80px 0;
}

.logo-social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.social {
    display: flex;
    gap: 20px;
}

.social a {
    color: hsl(0, 0%, 100%);
    font-size: 24px;
    transition: 0.3s ease-in;
}

.footer .links li {
    color: hsl(0, 0%, 100%);
    margin-bottom: 20px;
    transition: 0.3s ease-in;
}

.footer .links li:last-child {
    margin-bottom: 0;
}

.footer .button-rights {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

.footer .rights {
    color: hsl(233, 8%, 62%);
}

.social a:hover,
.footer .links li:hover {
    color: hsl(136, 65%, 51%);
}

@media(max-width:1500px){
    .footer-content {
        width: 90vw;
    }
}

@media(max-width:800px){
    .footer-content {
        flex-direction: column;
        justify-content: center;
    }

    .logo-social {
        align-items: center;
        gap: 20px;
    }

    .social{
        margin-bottom: 20px;
    }

    .links{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .footer .button-rights {
        align-items: center;
        gap: 20px;
    }
}